/* @import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Kanit:wght@500&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Kanit:wght@500&family=Lemon&family=Righteous&family=Rock+Salt&family=Sarala&family=Syne:wght@700;800&family=Wallpoet&display=swap');

body{
  position: fixed;
  background-image: url("papercrumple2.png");
  background-size: cover;
  background-attachment: fixed;
  /* background-color: #1a4d6b; */
}
.maincontainer{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(0,12.5vw) repeat(8,12.5vw);
  grid-template-rows: minmax(0,12.5vh) repeat(8,12.5vh);
  /* overflow:hidden; */
  z-index: 0;
}



.dropbtn {
  grid-column: 1 / 1;
  background-color: transparent;
  color: #24963f;
  font-size: 80px;
  border: none;
  cursor: pointer;
  line-height: 10px;
  padding-bottom: 60px;
  padding-left: 20px;
  z-index: 100;
}

.dropbtn:active{
  color: #27a344;
}



.dropdown {
  position: relative;
  display: inline-block;
  z-index: 100;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #24963f;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  font-family: 'Kanit', Sans-serif;
  color:  #30c753;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {color: #1a4d6b;}

.show {display:block;}

#yellowcircle {
  /* grid-row-end: 10;
  grid-column:4/ 6; */
  /* margin-right: 25vw; */
  width: 45vw;
  height: 45vw;
  background: #ffff70;
  border-radius: 50%;
  z-index: 1;
  align-self: end;
  justify-self: center;
  display: grid;
  position: absolute;
  transform: translate(-25%, 0);
}

#yellowcircle > p{
  justify-self: center;
  align-self: center;
  /* font-family: 'Kanit', sans-serif;
   */
  font-family: 'Righteous', Sans-serif;
  font-size: 4.8vw;;
  line-height: 1em;
  text-indent: 2em;
  color: #1a4d6b;
  cursor: default;
}

#yellowcircle:hover{
  background-color: var(--yellowcircle-background-color);
  cursor: var(--yellowcircle-cursor);
}



#bluecircle {
  /* grid-row: 2/2;
  grid-column: 3/3; */
  /* margin-left: 64vw;
  margin-top: 3vh; */
  width: 19vw;
  height: 19vw;
  background: #226dc9;
  border-radius: 50%;
  z-index: 2;
  justify-self: start;
  align-self: start;
  position: absolute;
  transform: translate(350%, 20%);
}

#bluecircle:hover{
  background-color: var(--bluecircle-background-color);
  cursor: var(--bluecircle-cursor);
}



#bluetriangle {
  /* margin-top: 35vh;
  margin-left: -.6vw; */
  position: absolute;
  /* grid-row-start: 5; */
  width: 0;
  height: 0;
  border-top: 9vw solid transparent;
  border-left: 11vw solid #226dc9;
  border-bottom: 9vw solid transparent;
  z-index: 5;
  transform: translate(-5%, 105%);
}

#bluetriangle:hover{
  border-top: var(--bluetriangle-border-top);
  border-left: var(--bluetriangle-border-left);
  border-bottom: var(--bluetriangle-border-bottom);
  cursor: var(--bluetriangle-cursor);
}

.bluetributton {
  position: absolute;
}



#yellowtriangle {
  position: absolute;
  /* grid-row: 4/ 6;
  grid-column-end: 10; */
  /* margin-top: -30vh; */
  width: 0;
  height: 0;
  border-top: 0vw solid transparent;
  border-right: 20vw solid #ffff70;
  border-bottom: 18vw solid transparent;
  z-index:3;
  justify-self: end;
  align-self: center;
  transform: translate(0, -30%);
}

#yellowtriangle:hover{
  border-top: var(--yellowtriangle-border-top);
  border-right: var(--yellowtriangle-border-right);
  border-bottom: var(--yellowtriangle-border-bottom);
  cursor: var(--yellowtriangle-cursor);
}

#yellowtributton {
  /* grid-row: 4/ 6;
  grid-column-end: 10;
  width: 0;
  height: 0;
  border-top: 0vw solid transparent;
  border-right: 20vw solid #ffff70;
  border-bottom: 18vw solid transparent;
  z-index:3;
  justify-self: end;
  align-self: center; */
  position: absolute;
}

/* #yellowtributton:hover {
  border-top: 0vw solid transparent;
  border-right: 20vw solid #f0f051;
  border-bottom: 18vw solid transparent;
} */

#greenrectangle {
  /* margin-top: 60vh; */
  /* grid-row: 7/8;
  grid-column: 6/10; */
  width: 25vw;
  height: 11vw;
  background: #24963f;
  z-index: 3;
  justify-self: end;
  display: grid;
  grid-template-rows: minmax(0,12vw) 1fr;
  position: absolute;
  transform: translate(0, 270%);
}

#greenrectangle> p{
  /* justify-self: start;
  align-self: center;
  color: #30c753;
  font-size: 2.3vw;
  font-family: 'Kanit', sans-serif;
  margin-left: 5%;
  margin-bottom: 6%;
  cursor: default; */
}

#greenrectangle:hover{
  background-color: var(--greenrectangle-background-color);
  cursor: var(--greenrectangle-cursor);
}

#designbutton{
  background-color: transparent;
  border: none;
  justify-self: start;
  color: #30c753;
  font-size: 2.3vw;
  font-family: 'Kanit', sans-serif;
  margin-left: 3%;
  margin-top: 0em;
}

#designbutton:hover{
  color: white;
}

#productionbutton{
  background-color: transparent;
  border: none;
  justify-self: start;
  color: #30c753;
  font-size: 2.3vw;
  font-family: 'Kanit', sans-serif;
  margin-left: 3%;
  margin-bottom: 1%;
}

#productionbutton:hover{
  color: white;
}


#funbutton{
  background-color: transparent;
  border: none;
  justify-self: start;
  color: #30c753;
  font-size: 2.3vw;
  font-family: 'Kanit', sans-serif;
  margin-left: 3%;
  margin-top: .5%;
}

#funbutton:hover{
  color: white;
}


#orangerectangle {
  position: absolute;
  /* grid-row: 9/9;
  grid-column: 5/7; */
  width: 9.5vw;
  height: 6vw;
  background: #ff9e03;
  z-index: 2;
  align-self: end;
  justify-self: center;
  transform: translate(-7%, 0);
}

#orangerecbutton{
  position: absolute;
}

/* #orangerecbutton:hover{
  background: #f78d02;
} */

#orangerectangle:hover{
  background-color: var(--orangerectangle-background-color);
  cursor: var(--orangerectangle-cursor);
}

#redrectangle {
  /* margin-left: 30vw;
  margin-bottom: 20vh; */
  width: 65vw;
  height: 40vw;
  background: #f03d11;
  /* grid-row: 1/ 8;
  grid-column: 5/10; */
  transform: rotate(-40deg) translate(25%, 20%);
  z-index: 0;
  align-self: center;
  justify-self: center;
  /* display: grid; */
  /* grid-template: repeat(4,1fr)/repeat(4,1fr); */
  position: fixed;
}

#redrectangle:hover{
  background-color: var(--redrectangle-background-color);
  cursor: var(--redrectangle-cursor);
}

#orangeline1 {
  /* margin-top: 9vh;
  margin-left: -.7vw; */
  width: 14vw;
  height: .9vw;
  background: #ff9e03;
  transform:  translate(0%, 280%) rotate(-40deg);
  align-self: center;
  justify-content: end;
  position: fixed;
  z-index: 6;
}

#orangeline1:hover{
  background-color: var(--orangeline1-background-color);
  cursor: var(--orangeline1-cursor);
}

#orangeline2 {
  /* margin-top: 15vh;
  margin-left: 46vw; */
  /* grid-row: 3/7;
  grid-column: 6/6; */
  width: 19vw;
  height: 1vw;
  background: #ff9e03;
  transform:translate(260%, 800%) rotate(-40deg) ;
  position: fixed;
}

#orangeline2:hover{
  background-color: var(--orangeline2-background-color);
  cursor: var(--orangeline2-cursor);
}
